body {
  background-color: #101130;
  color: #9296a3;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

a {
  text-decoration: none;
  color: green;
}

#greetings {
  width: 467px;
  text-align: center;
}

.not-selected {
  text-align: center;
  color: #aadabf;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.nav > button:hover {
  text-shadow: 0 0 10px #5ebba1, 0 0 15px #5ebba1, 0 0 20px #5ebba1;
}

.selected {
  text-align: center;
  color: #aadabf;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  text-shadow: 0 0 10px #5ebba1, 0 0 15px #5ebba1, 0 0 20px #5ebba1;
}

div > button {
  display: flex;
}

.project-image {
  position: relative;
  background-color: black;
  /* border: red 3px solid; */
  margin: 30px;
  overflow: hidden;
  width: 315px;
  height: 315px;
  /* border-radius: 50%; */
}

.project-image:hover {
  /* box-shadow: 0 0 50px 13px #5ebba1; */
}

.project {
  width: 375px;
}

.short-description {
  text-align: center;
}

#doteater > .static {
  width: 460px;
  left: -58px; 
  top: 17px;
}

#doteater > .moving {
  width: 565px;
  left: -126px;
  bottom: -55px;
}

#weatherpet > .static {
  width: 550px;
}

#weatherpet > .moving {
  width: 552px;
}

#shop > .static {
  height: 315px;
}

#shop > .moving {
  width: 315px;
  top: 24%;
}

.static {
  position: absolute;
}

.moving {
  position: absolute;
  opacity: 1;
}

.static:hover {
  opacity: 0;
}

.all-projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* border: pink 3px solid; */
  height: 400px;
}

.nav {
  position: fixed;
  top: 33%;
}

.nav button{
  border: none;
  background: none;
}

#resumePDF {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}
